//===== User:
$white:               #fff
$black:               #000
$accent:              #f53838
$box-shadow:          #eeeeef
$body-miw:            320
$container-maw:       1170
$s-padd:              50px 0

// Z-index:
$z-index-header:    100
$z-index-hamburger: 10
$z-index-overlay:   5
$z-index-list:      3
$z-index__owl-nav:  25

// Breakpoints:
$bp1: 576
$bp2: 768
$bp3: 992
$bp4: 1200

//===== Bootstrap:
$font-family-base: 'Rubik', sans-serif
$font-size-base:   1rem
$font-weight-base: 400
$line-height-base: 1.875
$body-color:       #4f5665
$body-bg:          $white
$primary:          #0b132a
$secondary:        #fafafa
$link-color:       $body-color
$link-decoration:  none

//===== Hamburgers:
$hamburger-padding-x:          0
$hamburger-padding-y:          0
$hamburger-layer-width:        45px
$hamburger-layer-height:       6px
$hamburger-layer-color:        $accent
$hamburger-hover-opacity:      1
$hamburger-active-layer-color: $accent

//===== Owl Carousel theme:

// owl-nav:
$nav-margin: 0
$nav-background-hover: $accent

// owl-dots:
$dot-width:             15px
$dot-height:            15px
$dot-margin:            0
$dot-background:        #dde0e4
$dot-background-active:	$accent
