<footer class="footer" id="footer">
  <div class="_container">
    <div class="footer__inner">

      <!-- footer__info -->
      <div class="footer__info">

        <!-- Site logo -->
        <div class="footer__logo site-logo">
          <div class="site-logo__icon">
            <i class="icon-site-logo"></i>
          </div>
          <div class="site-logo__name">
            Lasles<b>VPN</b>
          </div>
        </div>

        <!-- footer__about -->
        <p class="footer__about"><span>LaslesVPN</span> is a private virtual network that has unique features and has high security.</p>

        <!-- footer__social -->
        <div class="footer__social">
          <a class="footer__social-item" href="#"><i class="icon-facebook"></i></a>
          <a class="footer__social-item" href="#"><i class="icon-twitter"></i></a>
          <a class="footer__social-item" href="#"><i class="icon-instagram"></i></a>
        </div>

        <!-- footer__copy -->
        <div class="footer__copy">&#169;2021 Lasles<span>VPN</span></div>

      </div> <!-- /.footer__info -->

      <!-- footer__nav -->
      <div class="footer__nav">

        <!-- footer_list -->
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Product</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Download</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Pricing</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Locations</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Server</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Countries</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Blog</a>
          </li>
        </ul>

        <!-- footer_list -->
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Engage</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">LaslesVPN?</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">FAQ</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Tutorials</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">About Us</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Privacy Policy</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Terms of Service</a>
          </li>
        </ul>

        <!-- footer_list -->
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Earn Money</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Affiliate</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-link">Become Partner</a>
          </li>
        </ul>
      </div> <!-- /.footer__lists -->

    </div> <!-- /.footer__inner -->
  </div> <!-- /._container -->
</footer>