<section class="get-started">
  <div class="_container">

    <!-- Heading -->
    <div class="get-started__heading heading">
      <h1 class="heading__title heading__title--main">Want anything to be easy with <b>LaslesVPN.</b></h1>
      <p class="heading__text">Provide a network for all your needs with ease and fun using <b>LaslesVPN</b> discover interesting features from us.</p>
    </div>

    <!-- Button -->
    <button class="button" type="button">get started</button>

  </div>

  <div class="get-started__illustration">
    @@include('illustrations/illustration-01.html')
  </div>
</section>