<header class="header">
  <div class="_container">
    <div class="header__inner">

      <!-- Site logo -->
      <div class="site-logo">
        <div class="site-logo__icon">
          <i class="icon-site-logo"></i>
        </div>
        <div class="site-logo__name">
          Lasles<b>VPN</b>
        </div>
      </div>

      <!-- Navigation -->
      <nav class="nav">

        <!-- nav__list -->
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#amount">About</a></li>
          <li class="nav__item"><a class="nav__link" href="#features">Features</a></li>
          <li class="nav__item"><a class="nav__link" href="#pricing">Pricing</a></li>
          <li class="nav__item"><a class="nav__link" href="#testimonials">Testimonials</a></li>
          <li class="nav__item"><a class="nav__link" href="#footer">Help</a></li>
        </ul>

        <!-- Sign In & Sign Up links -->
        <div class="sign sign--nav">
          <a class="sign__in" href="#">Sign In</a>
          <a class="sign__up button-rounded" href="#">Sign Up</a>
        </div>

      </nav>

      <!-- Sign In & Sign Up links -->
      <div class="sign">
        <a class="sign__in" href="#">Sign In</a>
        <a class="sign__up button-rounded" href="#">Sign Up</a>
      </div>

      <!-- Hamburger -->
      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

    </div> <!-- /.header__inner -->
  </div> <!-- /_.container -->
</header>