<header class="header">
  <div class="_container">
    <div class="header__inner">

      <!-- Site logo -->
      <div class="site-logo">
        <div class="site-logo__icon">
          <i class="icon-site-logo"></i>
        </div>
        <div class="site-logo__name">
          Lasles<b>VPN</b>
        </div>
      </div>

      <!-- Navigation -->
      <nav class="nav nav--desktop">
        <a href="#" class="nav__link" data-scroll="#amount">About</a>
        <a href="#" class="nav__link" data-scroll="#features">Features</a>
        <a href="#" class="nav__link" data-scroll="#pricing">Pricing</a>
        <a href="#" class="nav__link" data-scroll="#testimonials">Testimonials</a>
        <a href="#" class="nav__link" data-scroll="#footer">Help</a>
      </nav>

      <!-- Sign In & Sign Up links -->
      <div class="sign sign--desktop">
        <a class="sign__in" href="#">Sign In</a>
        <a class="sign__up button-rounded" href="#">Sign Up</a>
      </div>

      <!-- Mobile Navigation -->
      <div class="mobile-nav">
        <div class="mobile-nav__inner">

          <!-- Site logo -->
          <div class="site-logo site-logo--mobile">
            <div class="site-logo__icon">
              <i class="icon-site-logo"></i>
            </div>
            <div class="site-logo__name">
              Lasles<b>VPN</b>
            </div>
          </div>

          <!-- Navigation -->
          <nav class="nav nav--mobile">
            <a href="#" class="nav__link" data-scroll="#amount">About</a>
            <a href="#" class="nav__link" data-scroll="#features">Features</a>
            <a href="#" class="nav__link" data-scroll="#pricing">Pricing</a>
            <a href="#" class="nav__link" data-scroll="#testimonials">Testimonials</a>
            <a href="#" class="nav__link" data-scroll="#footer">Help</a>
          </nav>

          <!-- Sign In & Sign Up links -->
          <div class="sign sign--mobile">
            <a class="sign__in" href="#">Sign In</a>
            <a class="sign__up button-rounded" href="#">Sign Up</a>
          </div>
        </div>
      </div> <!-- /.mobile-nav -->

      <!-- Hamburger -->
      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

    </div> <!-- /.header__inner -->
  </div> <!-- /_.container -->
</header>