<div class="partners">
  <div class="_container">
    <div class="partners__inner">

      <a class="partners__item" href="#">
        <img src="img/partners/netflix.svg" alt="Netflix">
      </a>
      <a class="partners__item" href="#">
        <img src="img/partners/reddit.svg" alt="Reddit">
      </a>
      <a class="partners__item" href="#">
        <img src="img/partners/amazon.svg" alt="Amazon">
      </a>
      <a class="partners__item" href="#">
        <img src="img/partners/discord.svg" alt="Discord">
      </a>
      <a class="partners__item" href="#">
        <img src="img/partners/spotify.svg" alt="Spotify">
      </a>

    </div>
  </div>
</div>