<section class="pricing" id="pricing">
  <div class="_container">

    <!-- Heading -->
    <div class="pricing__heading heading">
      <h2 class="heading__title heading__title--center">Choose Your Plan</h2>
      <p class="heading__text">Let's choose the package that is best for you and explore it happily and cheerfully.</p>
    </div>
    <!-- pricing__inner -->
    <div class="pricing__inner">

      <!-- Package -->
      <div class="pricing__package package">
        <div class="package__icon">
          <img src="img/pricing/pricing.svg" alt="Free Plan">
        </div>
        <div class="package__name">free plan</div>
        <ul class="package__list">
          <li class="package__item">unlimited bandwitch</li>
          <li class="package__item">encrypted connection</li>
          <li class="package__item">no traffic logs</li>
          <li class="package__item">works on all devices</li>
        </ul>

        <div class="package__price"><span>Free</span></div>
        <button class="button-rounded" type="button">Select</button>
      </div>

      <!-- Package -->
      <div class="pricing__package package">
        <div class="package__icon">
          <img src="img/pricing/pricing.svg" alt="Standart Plan">
        </div>
        <div class="package__name">standart plan</div>
        <ul class="package__list">
          <li class="package__item">unlimited bandwitch</li>
          <li class="package__item">encrypted connection</li>
          <li class="package__item">no traffic logs</li>
          <li class="package__item">works on all devices</li>
          <li class="package__item">connect anyware</li>
        </ul>

        <div class="package__price"><span>$9</span> / mo</span></div>
        <button class="button-rounded" type="button">Select</button>
      </div>

      <!-- Package -->
      <div class="pricing__package package">
        <div class="package__icon">
          <img src="img/pricing/pricing.svg" alt="Premium Plan">
        </div>
        <div class="package__name">premium plan</div>
        <ul class="package__list">
          <li class="package__item">unlimited bandwitch</li>
          <li class="package__item">encrypted connection</li>
          <li class="package__item">no traffic logs</li>
          <li class="package__item">works on all devices</li>
          <li class="package__item">connect anyware</li>
          <li class="package__item">get new features</li>
        </ul>

        <div class="package__price"><span>$12</span> / mo</span></div>
        <button class="button-rounded" type="button">Select</button>
      </div>

    </div> <!-- /.pricing__inner -->

  </div> <!-- /._container -->
</section>