<section class="testimonials" id="testimonials">
  <div class="testimonials__container _container">

    <!-- Heading -->
    <div class="testimonials__heading heading">
      <h2 class="heading__title heading__title--center">Trusted by Thousands of Happy Customer</h1>
      <p class="heading__text">These are the stories of our customers who have joined us with great pleasure when using this crazy feature.</p>
    </div>

    <!-- Owl Carousel -->
    <div class="testimonials__carousel owl-carousel owl-theme">

      <div class="testimonials__slide">
        <div class="testimonials__slide-header">
          <div class="testimonials__slide-photo">
            <img src="img/testimonials/customer-1.jpg" alt="Viezh Robert">
          </div>

          <div class="testimonials__slide-client">
            <span class="testimonials__slide-name">Viezh Robert</span>
            <span class="testimonials__slide-country">Warsaw, Poland</span>
          </div>

          <span class="testimonials__slide-rating">5.0</span>
        </div>

        <div class="testimonials__slide-text">“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.</div>
      </div>

      <div class="testimonials__slide">
        <div class="testimonials__slide-header">
          <div class="testimonials__slide-photo">
            <img src="img/testimonials/customer-2.jpg" alt="Yessica Christy">
          </div>

          <div class="testimonials__slide-client">
            <span class="testimonials__slide-name">Yessica Christy</span>
            <span class="testimonials__slide-country">Shanxi, China</span>
          </div>

          <span class="testimonials__slide-rating">4.5</span>
        </div>

        <div class="testimonials__slide-text">“I like it because I like to travel far and still can connect with high speed.”</div>
      </div>

      <div class="testimonials__slide">
        <div class="testimonials__slide-header">
          <div class="testimonials__slide-photo">
            <img src="img/testimonials/customer-3.jpg" alt="Kim Young Jou">
          </div>

          <div class="testimonials__slide-client">
            <span class="testimonials__slide-name">Kim Young Jou</span>
            <span class="testimonials__slide-country">Seoul, South Korea</span>
          </div>

          <span class="testimonials__slide-rating">5.0</span>
        </div>

        <div class="testimonials__slide-text">“This is very unusual for my business that currently requires a virtual private network that has high security.”.</div>
      </div>

      <div class="testimonials__slide">
        <div class="testimonials__slide-header">
          <div class="testimonials__slide-photo">
            <img src="img/testimonials/customer-4.jpg" alt="Leslie Alexander">
          </div>

          <div class="testimonials__slide-client">
            <span class="testimonials__slide-name">Leslie Alexander</span>
            <span class="testimonials__slide-country">USA, New Jersey</span>
          </div>

          <span class="testimonials__slide-rating">4.0</span>
        </div>

        <div class="testimonials__slide-text">“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.</div>
      </div>

    </div> <!-- /.testimonials__carousel -->

  </div> <!-- /._container -->
</section>